body {
font-family: Georgia, serif;
margin:40px;
color:#222;
}

header {
border-bottom:2px solid #333;
padding-bottom:20px;
}

img {
width:80px;
float:left;
margin-right:20px;
}

h1 {
font-size:36px;
}
